{% extends 'base.html.twig' %}

{% block title %}Inmobiliaria index{% endblock %}

{% block body %}
    <h1>Inmobiliaria index</h1>

    <table class="table table-bordered" border=1>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Enviados</th>
                <th>Vistos</th>
                <th>Imagen Original</th>
                <th>Upload Imagen Original</th>
                <th>Imagen Limpia</th>
                <th>Upload Imagen Limpia</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Link_venta</th>
                <th>Link_alquiler</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inmobiliarium in inmobiliarias %}
            <tr>
                <td>{{ inmobiliarium.id }}</td>
                <td>{{ inmobiliarium.nombre }}</td>
                <td>{{ inmobiliarium.enviados }}</td>
                <td>{{ inmobiliarium.vistos }}</td>
                <td>
                    <img src="https://myhouseai.com/api/inmobiliaria/{{ inmobiliarium.id }}/imagenEjemplo.png" width="200">
                </td>
                <td>
                    <form action="{{ path('app_inmobiliaria_upload_imagen',  {'id': inmobiliarium.id, 'tipoImagen': 'imagenEjemplo'}) }}" method="post" enctype="multipart/form-data">
                        <input type="file" name="imagenEjemplo" required>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </td>
                <td>
                    <img src="https://myhouseai.com/api/inmobiliaria/{{ inmobiliarium.id }}/imagenGenerada.png" alt="{{ inmobiliarium.nombre }}" width="200    ">
                </td>
                <td>
                    <form action="{{ path('app_inmobiliaria_upload_imagen', {'id': inmobiliarium.id, 'tipoImagen': 'imagenGenerada'}) }}" method="post" enctype="multipart/form-data">
                        <input type="file" name="imagenGenerada" required>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </td>
                <td>{{ inmobiliarium.direccion }}</td>
                <td>{{ inmobiliarium.email }}</td>
                <td><a href={{ inmobiliarium.link_venta }}>Link</a></td>
                <td><a href={{ inmobiliarium.link_alquiler }}>Link</a></td>
                <td>
                    <a href="{{ path('app_inmobiliaria_show', {'id': inmobiliarium.id}) }}">show</a>
                    <a href="{{ path('app_inmobiliaria_edit', {'id': inmobiliarium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inmobiliaria_new') }}">Create new</a>
{% endblock %}
